#background{
    position: relative;
    z-index: -1;
    height:450px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

#controls{
    border-style: double;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    background-color:aqua

}
#score, #timer{
    text-align: center;
    border-style: double;
}

#startMessage{
    text-align: center;

}

#backgroundDiv>div{
    position: absolute;
    color:brown;
    top: 0;
    left: 0;
    background-color: azure;  
    opacity: .8;
    padding-top: 182px;
    padding-bottom: 182px;
    font-size:40px;
    z-index:1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px #FFFF00;
    text-align: center;
    border:double;
    animation-name: gameOver;
    animation-duration: 1s;
    animation-iteration-count: 20;
}

@keyframes gameOver {
    from {color: brown;}
    to {color: blue;}
  }
