/*This is a custom font downloaded from www.pizzadude.dk*/
@font-face {
    font-family:Arcade_Classic;
    src:url(assets/ARCADECLASSIC.TTF);
}

body{
    background-color:black;
}

h1{
    color:white;
    font-family: Arcade_Classic;
    font-size:3em;
    display:inline-block
}

#swimAnime{
    display: inline-block;
}

#background{
    position: relative;
    z-index: -1;
    height:450px;
}

.container{
    display: flex;
    flex-direction: row;
}

#controls{
    width:250px;
    height:445px;
    border-style: double;
    display: inline-block;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    background-color: #949da7;
    font-family: Arcade_Classic;
    text-align: center;
    border-style: double;
    color:white;
    text-shadow:  0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

#timeText{
    margin-bottom: 0px;
    font-size: 1.75em;
}

#scoreCount, #score{
    font-size: 3em;
    margin:0;
}

#timer{
    margin-top: 0px;
    font-size: 1.75em;
}

#startMessage{
    font-size: 1.5em;
}

#backgroundDiv>div{
    position: absolute;
    color:black;
    top: 120px;
    left: 0;
    background-color: azure;  
    opacity: .8;
    padding-top: 160px;
    padding-bottom: 165px;
    padding-left:20px;
    padding-right: 20px;
    font-size:60px;
    z-index:1;
    font-family: Arcade_Classic;
    text-shadow: 2px 2px #FFFF00;
    text-align: center;
    border:double;
    animation-name: gameOver;
    animation-duration: 1s;
    animation-iteration-count: 30;
}
/*This controls the message animation when the game is over and flashes between gray and black every second*/
@keyframes gameOver {
    from {color: black;}
    to {color: gray;}
  }

  /*This styles the buttons for start and replay*/
  button{
    font-family: Arcade_Classic;
    border-radius: 12px;
    border: 2px solid black;
    font-size: 1.75em;
  }

/*This cahnges the opacity of the button when you hover the cusor over it*/
  button:hover{
    opacity:.5;
  }